@using COMP1640_WebDev.ViewModels
@model IEnumerable<MagazineTableView>
@{
    Layout = "./Layout/_StudentLayout";
}


@{
    var articles = new[]
           {
        new
        {
            ImageUrl = "https://images.inc.com/uploaded_files/magazinetoc/INCV1_NOUPC_535.jpg",
            Title = "Magazine Title",
            Description = "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.",
            LastUpdated = "Last updated 3 mins ago"
        },
          new
        {
            ImageUrl = "https://images.inc.com/uploaded_files/magazinetoc/INCV1_NOUPC_535.jpg",
            Title = "Magazine Title",
            Description = "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.",
            LastUpdated = "Last updated 3 mins ago"
        },
          new
        {
            ImageUrl = "https://images.inc.com/uploaded_files/magazinetoc/INCV1_NOUPC_535.jpg",
            Title = "Magazine Title",
            Description = "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.",
            LastUpdated = "Last updated 3 mins ago"
        },
          new
        {
            ImageUrl = "https://images.inc.com/uploaded_files/magazinetoc/INCV1_NOUPC_535.jpg",
            Title = "Magazine Title",
            Description = "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.",
            LastUpdated = "Last updated 3 mins ago"
        },
          new
        {
            ImageUrl = "https://images.inc.com/uploaded_files/magazinetoc/INCV1_NOUPC_535.jpg",
            Title = "Magazine Title",
            Description = "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.",
            LastUpdated = "Last updated 3 mins ago"
        },
        new
         {
            ImageUrl = "https://images.inc.com/uploaded_files/magazinetoc/INCV1_NOUPC_535.jpg",
            Title = "Magazine Title",
            Description = "This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.",
            LastUpdated = "Last updated 3 mins ago"
        },
    };
}


<style>
    .articleCard {
        height: 100%;
        transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, border 0.3s ease;
    }

        .articleCard:hover {
            transform: translateY(-15px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 15px rgba(0, 0, 0, 0.1), 0 15px 25px rgba(0, 0, 0, 0.1);
        }

    .imageArticle {
        height: 300px;
        border: 2px solid white;
        border-radius: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row mt-3 mb-4 d-flex justify-content-lg-center">
        <div class="col col-lg-6">
            <form id="searchForm" action="@Url.Action("Index", "Student")" method="get">
                <div class="input-group">
                    <input type="text" name="title" id="searchInput" class="form-control" placeholder="Search by title" aria-label="Search by title">
                    <button type="submit" class="btn btn-secondary">
                        <i class="bi bi-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        @foreach (var magazine in Model)
        {
            <div class="col-lg-3 my-3">
                <div class="card articleCard mb-3 bg-black text-white p-2">
                    <img src="@magazine.CoverImage" class="card-img-top imageArticle" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-newspaper me-2"></i>@magazine.Title</h5>
                        <p class="card-text">
                            <i class="bi bi-bookmark me-2"></i>
                            @magazine.Faculty
                        </p>
                        <a class="btn btn-primary" asp-controller="Student" asp-action="Details" asp-route-id=@magazine.Id>
                            <i class="bi bi-box-arrow-in-right"></i>
                            View details
                        </a>
                    </div>
                </div>
            </a>
            </div>
        }
    </div>


@* <h2>Upload Files</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<form asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose files to upload:</label>
        <input type="file" name="files" multiple class="form-control" />
</div>
    <button type="submit" class="btn btn-primary mt-2">Upload</button>
</form>
 *@

