@model Magazine
@{
    Layout = "./Layout/_MMLayout";
}
<style>
    .rounded-3d {
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

        .rounded-3d:hover {
            transform: scale3d(1.05, 1.05, 1.05);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        }

    .magazine-image {
        max-height: 450px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .details-section {
        padding: 50px 0;
    }

        .details-section h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #333;
        }

        .details-section p {
            font-size: 1.1rem;
            color: #666;
            line-height: 1.6;
        }

        .details-section ul {
            list-style: none;
            padding-left: 0;
        }

        .details-section li {
            margin-bottom: 10px;
            color: #888;
        }

</style>

<div class="container details-section">
    <div class="row mx-4">
        <div class="col-md-4">
            <img src="@ViewBag.Image" class="img-fluid rounded-3d magazine-image" alt="Magazine Cover">
        </div>
        <div class="col-md-8 mt-3 mt-lg-0">
            <h1><strong>Title: </strong>@Model.Title</h1>
            <p><strong>Description: </strong>@Model.Description</p>
            <ul>
                <li><i class="bi bi-person"></i> <strong>Faculty:</strong> @Model.Faculty!.FacultyName</li>
                <li><i class="bi bi-calendar"></i> <strong>Start Date:</strong> @Model.AcademicYear!.StartDate</li>
                <li><i class="bi bi-calendar-check"></i> <strong>Closure Date:</strong> @Model.AcademicYear!.ClosureDate</li>
                <li><i class="bi bi-calendar-event"></i> <strong>Final Date:</strong> @Model.AcademicYear!.FinalDate</li>
            </ul>
        </div>
    </div>
</div>
